<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Категорії товарів</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Datatables css -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <style>
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
    body{font-family: 'Poppins', sans-serif;
         background: #f9fafd;}
    p{font-family: 'Poppins', sans-serif;
      font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }
    a,
    a:hover{
        color: #738091;
        text-decoration: none;
        transition: all 0.3s;
        }

    .navbar{
        padding: 10px 10px;
        border: none;
        border-radius: 0;
        margin-bottom: 20px;
        margin-left:280px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.1);

    }

    #sidebar {
        min-width: 280px;
        max-width: 280px;
        background: #2d3744;
        color: #fff;
        position: fixed;
        transition: all 0.3s;
        height:100%;
        overflow-x: hidden;
    }

    #sidebar .sidebar-header{
        padding: 30px;
        padding-left: 50px;
        background: #2d3744;
        height:100px;
    }
    #sidebar ul.components{
        padding: 0px 0px;
    }
    #sidebar ul p{
        padding-left: 30px;
        margin-bottom:0px;
        font-size: 0.8em;
        display: block;
        color:#738091;
    }
    #sidebar ul li a{
        padding-top: 10px;
        padding-left:30px;
        font-size: 1.1em;
        display: block;
    }


    #sidebar ul li a:hover {
        color: #92a2b5;
    }

     #sidebar ul li a:focus {
        color: white;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 60px !important;
    }

    .content {
        margin-left:300px;
        min-height: calc(82vh - 60px);
    }

    @media(maz-width:768px){
        #sidebar{margin-left: -250px;}
        #sidebar.active{
            margin-left: 0px;
        }
        #sidebarCollapse span{
            display: none;
        }
    }
    .navbar-custom {
    background-color: #ffffff;
}
        ::-webkit-scrollbar{
    width:14px;
            }
        ::-webkit-scrollbar-track{
    background:#f1f1f1;
            }
        ::-webkit-scrollbar-thumb{
    background:#C0C0C0;
            }

            ::-webkit-scrollbar-thumb:hover{
    background:#a9aaaa;
            }

   .page-item.active .page-link {
        color: #fff !important;
        background-color: #737df5 !important;
        border:none;
        border-radius:50%;
    }

    .page-link {
        color: #000 !important;
        margin-left:5px;
        border-radius:50%;
        border:none;
    }

    .page-link:hover {
        color: dark !important;
        background-color: #eaedf0 !important;
        border-color: #eaedf0 !important;
    }
    .addItem{
    margin-top:20px;
    margin-left:20px;
    margin-bottom:20px;
    color:white;
    border-radius:5%;
    border:none;
    background:#fa5c7d;
    width:150px;
    height:40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    }
    .addItem:hover{
    background:#f9345e;
    }
    .addItem:active,{
    outline-color:#fa5c7d;
    }
    .addItem:focus{
    outline-color:#fa5c7d;
    }

    .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    }
    .breadcrumb {
    background-color:transparent;
    margin-top:-10px;
    margin-right:10px;
    font-size:15px;
    }
    .breadcrumb-item>a{
    color: #7481f4;
    }
    .breadcrumb-item>a:hover {
    color: blue;
    }
    .icon-button,
    .icon-button:active,
    .icon-button:focus{
    outline:none;
    border:none;
    background-color:white;
    }
    </style>
</head>
<body>

<div class="wrapper">
    <!--SideBar-->
    <nav id="sidebar">
        <div class="sidebar-header">
            <label style="font-size:18px;"><a style="color:white;" href="/"><img src="/image/tree_icon.png" width="50" height="50"
                                                                                 class="d-inline-block align-top" alt="Tree" style="float:left;">
                Wooden products</a></label>
        </div>
        <ul class="list-unstyled components">
            <p>НАВІГАЦІЯ</p>
            <li>
                <a href="/sellerPersonalInformation">Особисті дані</a>
            </li>
            <li>
                <a style="color:white;" href="/sellerProductInStock">Товари в наявності</a>
            </li>
            <li>
                <a href="/sellerSoldProducts">Продані товари</a>
            </li>
            <li>
                <a href="/sellerStatistic">Статистика</a>
            </li>
        </ul>
    </nav>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">

        <!--<a class="navbar-brand" href="#">Navbar</a> -->
        <button style="margin-bottom:10px;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {{#nameUser}}

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a style="margin-right:40px;" class="nav-link dropdown-toggle" href="navbarDropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{nameUser}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <form action="/logout" method="post">
                                <button class="dropdown-item">Вихід</button>
                                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                            </form>
                        </div>
                    </li>
                </ul>

            {{/nameUser}}
            {{^nameUser}}
                <button  class="btn btn-primary ml-auto" onclick="window.location.href='/login'">Вхід</button>
            {{/nameUser}}
        </div>
    </nav>
    <!--Content-->
    <div class="content">
        <div style="height:40px;">
            <div style="float:left;"><b style="color:#7b7b7f;font-size:18px;">Товари в наявності</b></div>
            <div style="float:right;"><nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/">Wodden products</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Товари в наявності</li>
                </ol>
            </nav></div>
        </div>
        <div style="background-color:white;margin-top:15px;margin-right:20px;box-shadow: 0 0.5px 0.5px 0 rgba(0,0,0,0.2), 0 0.5px 0.5px 0 rgba(0,0,0,0.19);">
            <button class="addItem" id="selectCategory"
                    data-toggle="popover" data-trigger="hover" title=""
                    data-content="Натисніть щоб додати новий товар">
                <img src="/image/plus.png" style="width:14px;height:14px;margin-right:5px;margin-bottom:2px;"/>Товар</button>
            <!--Modal-->
            <div id="selectCategory-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="standard-modalLabel">Додавання товару</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <form action="/sellerProductInStock" method="post">
                            <div class="modal-body">
                                <div class="form-group col-md-10" align="left">
                                    <label style="color:#696969">Назва категорії</label>
                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="categoryName">
                                        <option selected>Категорії</option>
                                        {{#categories}}
                                            <option value="{{name}}">{{name}}</option>
                                        {{/categories}}
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="ex" class="btn btn-light" data-dismiss="modal">Закрити</button>
                                <input id="createCategory" type="submit" class="btn btn-primary" value="Далі"/>
                                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            {{#addItem}}
            <div id="addItem-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="standard-modalLabel">Додавання товару</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <form action="/addProduct" method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="form-group col-md-10" align="left">
                                    <label style="color:#696969">Назва товару</label>
                                    <input type="text" name="itemname" class="form-control" placeholder="Введіть назву товару"/>
                                </div>
                                <div class="form-group col-md-10" align="left">
                                    <label style="color:#696969">Фото</label>
                                    <div class="custom-file">
                                    <input type="file" name="file" class="custom-file-input" id="customFile"/>
                                    <label class="custom-file-label" for="customFile" >Виберіть файл</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-10" align="left">
                                    <input type="hidden" name="name" class="form-control"  value="{{addItem}}"/>
                                </div>
                                <div class="form-group col-md-10" align="left">
                                    <label style="color:#696969">Кількість одиниць товару</label>
                                    <input type="text" name="count" class="form-control" placeholder="Введіть кільксть товару"/>
                                </div>
                                <div class="form-group col-md-10" align="left">
                                    <label style="color:#696969;">Опис товару</label>
                                    <textarea  rows="10" cols="10" wrap="hard" name="description" class="form-control" placeholder="Наведіть короткий опис товару"></textarea>
                                </div>
                                <div class="form-group col-md-10" align="left">
                                    <label style="color:#696969">Ціна за одиницю товару</label>
                                    <input type="text" name="price" class="form-control" placeholder="Введіть ціну за одиницю товару"/>
                                </div>
                                {{#filters}}
                                <div class="form-group col-md-10" align="left">
                                    <label style="color:#696969">{{filtername}}</label>
                                    <input type="hidden" name="filtersName[]" value="{{filtername}}">
                                    <input type="text" name="filters[]" class="form-control" placeholder="Введіть {{filtername}} товару"/>
                                </div>
                                {{/filters}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="ex" class="btn btn-light" data-dismiss="modal">Закрити</button>
                                <input id="createCategory" type="submit" class="btn btn-primary" value="Додати"/>
                                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            {{/addItem}}
            {{#itemEdit}}
                    <div id="itemManipulate-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="standard-modalLabel">Редагування товару</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <form action="/editProduct" method="post">
                                    {{#item}}
                                    <div class="modal-body">
                                        <div class="form-group col-md-10" align="left">
                                            <label style="color:#696969">Назва товару</label>
                                            <input type="text" name="itemname" class="form-control" placeholder="Введіть назву товару" value="{{itemname}}"/>
                                        </div>
                                        <div class="form-group col-md-10" align="left">
                                            <label style="color:#696969">Кількість одиниць товару</label>
                                            <input type="text" name="count" class="form-control" placeholder="Введіть кільксть товару" value="{{count}}"/>
                                        </div>
                                        <div class="form-group col-md-10" align="left">
                                            <label style="color:#696969">Опис товару</label>
                                            <textarea style="height:250px;" name="description" class="form-control" placeholder="Наведіть короткий опис товару" >{{description}}</textarea>
                                        </div>
                                        <div class="form-group col-md-10" align="left">
                                            <label style="color:#696969">Ціна за одиницю товару</label>
                                            <input type="text" name="price" class="form-control" placeholder="Введіть ціну за одиницю товару" value="{{price}}"/>
                                        </div>
                                        {{#filterOptions}}
                                            <div class="form-group col-md-10" align="left">
                                                <label style="color:#696969">{{#filter}}{{filtername}}{{/filter}}</label>
                                                <input type="hidden" name="filtersOptionID[]" value="{{id}}">
                                                <input type="text" name="filters[]" class="form-control" placeholder="Введіть {{#filter}}{{filtername}}{{/filter}} товару" value="{{value}}"/>
                                            </div>
                                        {{/filterOptions}}
                                    {{/item}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="ex" class="btn btn-light" data-dismiss="modal">Закрити</button>
                                        <input id="createCategory" type="submit" class="btn btn-primary" value="Редагувати"/>
                                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                                    </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
            {{/itemEdit}}
            {{#deleteItem}}
                <div id="itemManipulate-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="standard-modalLabel">Видалення категорії</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <form action="/deleteProduct" method="post">
                                <div class="modal-body">
                                    <label style="color:#696969">{{deleteItem}}</label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="ex" class="btn btn-light" data-dismiss="modal">Відмінити</button>
                                    <input  type="submit" class="btn btn-primary" value="Видалити"/>
                                    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            {{/deleteItem}}
            <!--Notification-->
            {{#addItemSuccess}}
                <div class="toast"style="position: absolute; top: 20px; right: 20px;min-width:200px;background-color:#02d098;">
                    <div class="toast-header" style="background-color:#02d098;">
                        <img src="/image/tree_icon.png" class="rounded mr-2" alt="Tree"style="width:20px;height:20px;">
                        <strong class="mr-auto" style="color:white;">Wodden products</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body" style="color:white;">
                        {{addItemSuccess}}
                    </div>
                </div>
            {{/addItemSuccess}}
            {{#updateSuccess}}
                <div class="toast"style="position: absolute; top: 20px; right: 20px;min-width:200px;background-color:#02d098;">
                    <div class="toast-header" style="background-color:#02d098;">
                        <img src="/image/tree_icon.png" class="rounded mr-2" alt="Tree"style="width:20px;height:20px;">
                        <strong class="mr-auto" style="color:white;">Wodden products</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body" style="color:white;">
                        {{updateSuccess}}
                    </div>
                </div>
            {{/updateSuccess}}
            {{#deleteSuccess}}
                <div class="toast"style="position: absolute; top: 20px; right: 20px;min-width:200px;background-color:#02d098;">
                    <div class="toast-header" style="background-color:#02d098;">
                        <img src="/image/tree_icon.png" class="rounded mr-2" alt="Tree"style="width:20px;height:20px;">
                        <strong class="mr-auto" style="color:white;">Wodden products</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body" style="color:white;">
                        {{deleteSuccess}}
                    </div>
                </div>
            {{/deleteSuccess}}
            <!--Table-->
            <div style="margin-left:20px;margin-right:20px;color:#7b7b7f;">
                <table id="items" class="table dt-responsive nowrap w-100" style="width:100%;color:#7b7b7f;">
                    <thead style="background:#f1f3fa;">
                    <tr>
                        <th style="display:none;">ID</th>
                        <th>Фото</th>
                        <th>Назва</th>
                        <th>Кількість</th>
                        <th>Ціна</th>
                        <th>Категорія</th>
                        <th>Дії</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#items}}
                        <tr >
                            <td style="display:none;">{{id}}</td>
                            <td style="text-align:center;width:100px;"><img style="width:100%;margin-right:10px;" src="/uploads/{{fileName}}"></td>
                            <td style="vertical-align:middle;">{{itemname}}</td>
                            <td style="vertical-align:middle;">{{count}}</td>
                            <td style="vertical-align:middle;">₴{{price}}</td>
                            <td style="vertical-align:middle;">{{#category}}{{name}}{{/category}}</td>
                            <td style="vertical-align:middle;">
                                <form action="/editProduct" method="get" style="float:left;">
                                    <input id="categoryId" type="hidden" name="itemID" value="{{id}}">
                                    <button type="submit" class="icon-button"><img src="/image/pen.png"
                                                                                   style="height:21px;width:21px;"
                                                                                   onmouseover="editHover(this);"
                                                                                   onmouseout="editNotHover(this);"></button>
                                </form>
                                <form action="/deleteProduct" method="get" style="float:left;">
                                    <input id="categoryId" type="hidden" name="itemID" value="{{id}}">
                                    <button type="submit" class="icon-button"><img src="/image/trash.png"
                                                                                   style="height:21px;width:21px;"
                                                                                   onmouseover="deleteHover(this);"
                                                                                   onmouseout="deleteNotHover(this);"></button>
                                </form>
                                <form action="/sellerViewProduct" method="get" style="float:left;">
                                    <input id="categoryId" type="hidden" name="itemID" value="{{id}}">
                                    <button type="submit" class="icon-button"><img src="/image/eye.png"
                                                                                   style="height:21px;width:21px;"
                                                                                   onmouseover="showHover(this);"
                                                                                   onmouseout="showNotHover(this);"></button>
                                </form>
                            </td>
                        </tr>
                    {{/items}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--Footer-->
    <footer style="margin-left:280px;box-shadow: 1px 1px 3px rgba(0,0,0,0.4);background:#f9fafd;height:60px;margin-top:30px;">
        <label style="margin-left:30px;margin-top:20px;color:#b6b4b6;">2020 ©Wooden products</label>
    </footer>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!--Datatable-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<!--Need to popper works-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--Show file name-->
<script>
            $('#customFile').on('change',function(){
                var fileName = $(this).val();
                $(this).next('.custom-file-label').html(fileName);
            })
</script>
<!--Change icons-->
<script>
function deleteHover(el){
el.src="/image/trash-hover.png";
}
function deleteNotHover(el){
el.src="/image/trash.png";
}

function editHover(el){
el.src="/image/pen-hover.png";
}
function editNotHover(el){
el.src="/image/pen.png";
}

function showHover(el){
el.src="/image/eye-hover.png";
}
function showNotHover(el){
el.src="/image/eye.png";
}
</script>
<script>
   $(document).ready(function () {
            $('.toast').toast({
                delay: 5000
            });
            $('.toast').toast('show');
        });
</script>
<!--View edit modal-->
<script>
$(document).ready(function () {
    $('#itemManipulate-modal').modal('show');
});
</script>
<script>
$(document).ready(function () {
    $('#addItem-modal').modal('show');
});
</script>
<!--View modal and popover-->
<script>
    $('.addItem').click(function () {
     $('#selectCategory-modal').modal('show');
     $('[data-toggle="popover"]').popover('hide');
});
</script>
<!--View popover-->
<script>
$(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
</script>
<!--View datatables-->
<script>
    $(document).ready(function() {
    $('#items').DataTable( {
        "language": {
            "lengthMenu": "Відобразити _MENU_ записів на сторінці",
            "zeroRecords": "Немає записів",
            "info": "Відображено від _START_ до _END_ записів з _TOTAL_",
            "infoEmpty": "Немає записів",
            "infoFiltered": "(filtered from _MAX_ total records)",
            "sSearch": "Пошук:",
            "oPaginate": {
                    "sNext": ">",
                    "sPrevious": "<"
                          }
                    }
    } );
} );
</script>
</body>
</html>